<div style=" height: 100%; width: 100%; position: absolute; display: flex;">
    <div class="operator-grid-container" style="height: 100%; width: 100%; margin: 10px auto; ">
        <div></div>
        <div>            
            <div style="padding: 5px; height: 100%; width: 100% ; position: relative; display: flex;">
                <div style="margin: auto; width: 80%; height: 80%; background-color: darkgray; border-radius: 20px; display: flex;">
                    <img style="margin-left: 30px; width: 10%; object-fit: contain;" src="../../assets/pa.png"/>
                    <p style="color: black; margin: auto auto auto 10px; font-size: 2vw; color:#484848; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">PUBLIC ANNOUNCEMENT</p>
                    <div style="margin-left: auto; margin-right: 1px; margin-top: auto; margin-bottom: auto; width: 20%; height: 80%;">
                        <div class="action-button-on" appRectangle onclick="" oncontextmenu="return false;" style="background-color: green; border-radius: 100%; display: flex;">
                            <img class="noselect" style="width: 40%; margin: auto; object-fit: contain;" src="../../assets/paOn.png"/>
                        </div>
                    </div>
                    <div style="margin-left: 1px; margin-right: 5px; margin-top: auto; margin-bottom: auto; width: 20%; height: 80%;">
                        <div class="action-button" onclick="" appRectangle oncontextmenu="return false;" style="background-color: red; border-radius: 100%; display: flex;">
                            <img class="noselect" style="width: 40%; margin: auto; object-fit: contain;" src="../../assets/paOff.png"/>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div style="padding: 5px; height: 100%; width: 100% ; position: relative; display: flex;">
            <div class="darken" style="margin: auto; width: 80%; height: 80%; background-color: darkgray; border-radius: 20px; display: flex; position: relative;">
                <img style="margin-left: 30px; width: 10%; object-fit: contain;" src="../../assets/ecp.png"/>
                <p style="color: black; margin: auto auto auto 10px; font-size: 2vw; color:#484848; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">CALL CONTROL CENTER</p>
                <div style="margin-left: auto; margin-right: 1px; margin-top: auto; margin-bottom: auto; width: 20%; height: 80%;">
                    <div class="action-button-on" onclick="" oncontextmenu="return false;" appRectangle style="border-radius: 100%; display: flex;">
                        <img class="noselect" style="width: 40%; margin: auto; object-fit: contain;" src="../../assets/ecpOn.png"/>
                    </div>
                </div>
                <div style="margin-left: 1px; margin-right: 5px; margin-top: auto; margin-bottom: auto; width: 20%; height: 80%;">
                    <div class="action-button" onclick="" appRectangle oncontextmenu="return false;" style="background-color: red; border-radius: 100%; display: flex;">
                        <img class="noselect" style="width: 40%; margin: auto; object-fit: contain;" src="../../assets/ecpOff.png"/>
                    </div>
                </div>                    
                <div style="position: absolute; width: 100%; height: 100%;">
                    <svg style="width: 100%; margin:auto; height: 100%;">
                        <line x1="5%" y1="85%" x2="95%" y2="15%" style="stroke:rgb(255,0,0);stroke-width:15;stroke-linecap:round;" />
                    </svg>
                </div>
            </div>
            
        </div>
        <div></div>
</div>