<div  class="header-grid-container">
    <div  style="height: 100%; width: 100%; align-content: left; text-align: center; font-size: 32px; vertical-align: middle; color: lightgray; display: flex;">
        <app-running style="margin: auto auto auto 10px; width: 20px; height: 20px;"></app-running>
    </div>
    <div  style="height: 100%; width: 100%; align-content: center; text-align: center; font-size: 32px; margin: auto; color: lightgray;">
        OBS
    </div>    
    <div   style="grid-column:3; width: 100%; height: 100%; color: lightgray;vertical-align: bottom; display: flex;">
        <div style="margin: auto 10px auto auto ; width: 40px; align-items: center; display: flex;" >
            <img class="logout-button" style="object-fit: contain;" (click)="logout()" src="../../assets/logout24.png" />
        </div>
    </div>
</div>