<div  class="body-grid-container">
    <div  style="grid-column:1; width: 100%; height: 100%; color: lightgray;vertical-align: bottom; display: flex;">
        <img style="margin: 0px 5px 5px; width: 30px; margin-top: auto; object-fit: contain;" src="../../assets/logott.png"/>
        <span style="margin: 0px 5px 0px; width: 100%; text-align: left; margin-top: auto;" id="clock">v. 1.0.0.115</span>        
    </div>
    <div  style="grid-column:2; width: 100%;   display: flex; ">
        <span style="margin: 0px 5px 0px; width: 100%;color: lightgray; text-align: right; margin-top: auto;" id="clock">{{clock}}</span>
    </div>
    
</div>